pandas==0.23.4
numpy==1.16.1
matplotlib==3.0.2
Pillow==6.2.2
opencv-python==4.1.1.26
imutils==0.5.2
cx_Freeze==6.1
yapf==0.26.0
pytest==4.3.0
openpyxl==3.0.0
lxml==4.4.1
PyPubSub==4.0.3
wxPython==4.0.4
scipy==1.4.1